{% assign entry = page.entries[include.id] %}
<div class="exp-entry__wrapper">
    <h3>{{ entry.name }}</h3>

    <div class="exp-entry__tags">
        <span class="exp-entry__time exp-entry__tag">
            <i class="fas fa-calendar-alt"></i> {{ entry.time }}
        </span>
        <span class="exp-entry__loc exp-entry__tag">
            {% if entry.locLink %}
                <a href="{{ entry.locLink }}">
                    <i class="fas fa-location-arrow"></i> {{ entry.loc }}
                </a>
            {% else %}
                <i class="fas fa-location-arrow"></i> {{ entry.loc }}
            {% endif %}
        </span>
    </div>

    <ul class="exp-entry__bullets">
        {% for bullet in entry.bullets %}
            <li><span>{{ bullet | markdownify | remove: "<p>" | remove: "</p>" }}</span></li>
        {% endfor %}
    </ul>

    {% include sh-carousel.html imgs=entry.imgs %}
</div>
