<!-- Adopted from https://nolanlawson.com/2019/02/10/building-a-modern-carousel-with-css-scroll-snap-smooth-scrolling-and-pinch-zoom/ -->
<div class="sh-carousel__viewport">
    <div class="sh-carousel__carousel-frame">
        <div class="sh-carousel__carousel">
            <ul class="sh-carousel__scroll">
                {% for m in include.media %}
                    <li class="sh-carousel__scroll-item-outer">
                        <div class="sh-carousel__scroll-item">
                            {% if m.isVideo %}
                                {% include video.html id=m.vid provider="youtube" %}
                            {% else %}
                                <img src="{{ m.src }}" alt="{{ m.alt }}"/>
                            {% endif %}

                            {% if m.cap %}
                                <span class="archive__item-caption sh-carousel__my-caption">{{ m.cap | markdownify | remove: "<p>" | remove: "</p>" }}</span>
                            {% endif %}
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
  </div>
