---
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}";
@import "minimal-mistakes";

// My customized styling
:root {
    --carousel-padding: 10px;
}

.sh-carousel {
    &__viewport {
        width: 100%;
        margin: 0 auto 0.25em;
        display: flex;
        flex-direction: column;
        align-items: center;
        box-shadow: inset 0 0 4px #CDCDCD;

        ul.sh-carousel__scroll {
            margin: 0;
            padding: 0;
            list-style: none;
        }

        img, iframe {
            object-fit: contain;
            width: 100%;
            height: 100%;
            filter:
                drop-shadow(0px 0px 1px rgba(0, 0, 0, 0.6))
                drop-shadow(0px 0px 3px rgba(0 ,0, 0, 0.4))
                drop-shadow(0px 0px 5px rgba(0 ,0, 0, 0.2));
        }

        .responsive-video-container {
            width: 100%;
        }

        @supports (scroll-snap-align: start) {
            /* modern scroll snap points */
            .sh-carousel {
                &__scroll {
                    scroll-snap-type: x mandatory;
                }

                &__scroll-item-outer {
                    scroll-snap-align: center;
                }
            }
        }

        @supports not (scroll-snap-align: start) {
            /* old scroll snap points spec */
            .sh-carousel {
                &__scroll {
                    -webkit-scroll-snap-type: mandatory;
                    scroll-snap-type: mandatory;
                    -webkit-scroll-snap-destination: 0 50%;
                    scroll-snap-destination: 0 50%;
                    -webkit-scroll-snap-points-x: repeat(100%);
                    scroll-snap-points-x: repeat(100%);
                }

                &__scroll-item-outer {
                    scroll-snap-coordinate: 0 0;
                }
            }
        }

        .responsive-video-container {
            margin: 0;
        }

        .fluid-width-video-wrapper {
            padding: 0;
        }
    }

    &__carousel-frame {
        background: transparent;
        padding: var(--carousel-padding);
        width: 100%;
        height: 100%;
    }

    &__carousel {
        width: 100%;
        height: 100%;
    }

    &__scroll {
        display: flex;
        align-items: center;
        overflow-x: auto;
        overflow-y: hidden;
        width: 100%;
        height: 100%;
        -webkit-overflow-scrolling: touch;
    }

    &__scroll-item-outer {
        width: 100%;
        height: 100%;
        margin: 0 1em;
    }

    &__scroll-item {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: var(--carousel-padding);
    }

    &__my-caption {
        font-family: -apple-system, BlinkMacSystemFont, Roboto, "Segoe UI", "Helvetica Neue", "Lucida Grande", Arial, sans-serif !important;
    }
}


.author {
    &__content {
        margin-bottom: 0.5em;
    }

    &__urls-wrapper {
        .fa-linkedin {
            color: rgb(62, 62, 62);
        }
    }
}

.contacts {
    &__entry-div {
        list-style-type: none;

        li :first-child {
            margin-right: 0.5em;
        }
    }
}

h2 {
    margin: 0.5em 0 0.25em;
}

@mixin sub-link {
    a {
        color: inherit;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }
}

.exp-entry {
    &__wrapper {
        margin-bottom: 1em;

        h2 {
            img {
                height: 1em;
                margin-right: 0.25em;
            }
        }
    }

    &__attrs {
        .exp-entry {
            &__attr {
                margin-bottom: 5px;
                padding-right: 5px;
                padding-top: 2px;
                padding-bottom: 2px;
                // font-size: 0.6em;
                color: $muted-text-color;
                font-family: $sans-serif;
                font-size: $type-size-6;

                @include sub-link();
            }

            &__loc {
                position: absolute;
                left: 50%;
            }
        }

        margin-bottom: 0.25em;
    }

    &__tags {
        .exp-entry {
            &__tag {
                font-size: 0.75em;
                color: $muted-text-color;

                a {
                    text-decoration: none;
                }

                a:hover {
                    color: $link-color-hover;
                }
            }
        }
    }

    &__sets {
        margin-bottom: 0.5em;
    }

    &__bullets {
        margin: 0.25em 0 0.25em;
        font-size: 0.9em;

        li {
            margin-bottom: 0.25em;
        }
    }
}

hr {
    margin-top: 0;
}

.hr__light {
    margin: 0;
    opacity: 0.5;
}

.img-wide {
    &__container {
        padding: 0.25em;
    }

    &__img {
        width: 100%;
        max-width: 1024px;
        margin-bottom: 0.5em;
        box-shadow:
            0 8px 8px -4px rgba(0, 0, 0, 0.5)
    }
}

.edu-entry {
    &__wrapper {
        margin-bottom: 1em;
    }

    &__content {
        padding-left: 2em;
    }

    &__tag {
        font-size: 0.75em;
        color: $muted-text-color;

        &:hover {
            text-decoration: none;
            color: $link-color-hover;
        }
    }

    &__point {
        @include sub-link();
        margin-bottom: 0.5em;

        i {
            margin-right: 0.5em;
        }
    }

    &__deg {
        font-weight: bold;
    }

    &__loc {
        font-style: italic;
    }

    &__course {
        margin-bottom: 0.5em;
        font-size: 0.9em;

        span {
            margin: 0.5em 0;
        }

        ul {
            margin: 0.25em 0 0.25em;

            li {
                margin-bottom: 0.25em;
            }
        }
    }
}

.hby-entry {
    &__wrapper {
        margin-bottom: 2em;
    }
}
