---
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}";
@import "minimal-mistakes";

// My customized styling
:root {
    --carousel-item-width: 32vw;
    --carousel-item-height: 18vh;
    --carousel-padding: 10px;
}

.sh-carousel {
    &__viewport {
        width: 100%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        box-shadow: inset 0 0 4px #CDCDCD;

        ul.sh-carousel__scroll {
            margin: 0;
            padding: 0;
            list-style: none;
        }

        img {
            object-fit: contain;
            width: 100%;
            height: 100%;
            filter:
                drop-shadow(0px 0px 1px rgba(0, 0, 0, 0.7))
                drop-shadow(0px 0px 3px rgba(0 ,0, 0, 0.3));
        }

        @supports (scroll-snap-align: start) {
            /* modern scroll snap points */
            .sh-carousel {
                &__scroll {
                    scroll-snap-type: x mandatory;
                }

                &__scroll-item-outer {
                    scroll-snap-align: center;
                }
            }
        }

        @supports not (scroll-snap-align: start) {
            /* old scroll snap points spec */
            .sh-carousel {
                &__scroll {
                    -webkit-scroll-snap-type: mandatory;
                    scroll-snap-type: mandatory;
                    -webkit-scroll-snap-destination: 0 50%;
                    scroll-snap-destination: 0 50%;
                    -webkit-scroll-snap-points-x: repeat(100%);
                    scroll-snap-points-x: repeat(100%);
                }

                &__scroll-item-outer {
                    scroll-snap-coordinate: 0 0;
                }
            }
        }
    }

    &__carousel-frame {
        background: transparent;
        padding: var(--carousel-padding);
        // width: calc(var(--carousel-item-width) + (2 * var(--carousel-padding)));
        // height: calc(var(--carousel-item-height) + (2 * var(--carousel-padding)));
        width: 100%;
        height: 100%;
    }

    &__carousel {
        // width: var(--carousel-item-width);
        // height: var(--carousel-item-height);
        // width: calc(100% - 2 * var(--carousel-padding));
        // height: calc(100% - 2 * var(--carousel-padding));
        width: 100%;
        height: 100%;
    }

    &__scroll {
        display: flex;
        align-items: center;
        overflow-x: auto;
        overflow-y: hidden;
        width: 100%;
        height: 100%;
        -webkit-overflow-scrolling: touch;
    }

    &__scroll-item-outer {
        width: 100%;
        height: 100%;
        margin: 0 1em;
    }

    &__scroll-item {
        position: relative;
        // // width: var(--carousel-item-width);
        // // min-width: 240px;
        // width: 100%;
        // min-width: var(--carousel-item-width);
        // height: 100%;
        // // min-height: 135px;
        // min-height: var(--carousel-item-height);

        // width: calc(100% - 2 * var(--carousel-padding));
        // height: calc(100% - 2 * var(--carousel-padding));

        display: flex;
        align-items: center;
        justify-content: center;
        padding: var(--carousel-padding);
    }
}



.author {
    &__content {
        margin-bottom: 0.5em;
    }

    &__urls-wrapper {
        .fa-linkedin {
            color: rgb(62, 62, 62);
        }
    }
}

.contacts {
    &__entry-div {
        list-style-type: none;

        li :first-child {
            margin-right: 0.5em;
        }
    }
}

.exp-entry {
    &__wrapper {
        margin-bottom: 1em;

        h3 {
            margin: 0.5em 0 0.25em;
        }
    }

    &__tags {
        .exp-entry {
            &__tag {
                margin-bottom: 5px;
                padding-right: 5px;
                padding-top: 2px;
                padding-bottom: 2px;
                // font-size: 0.6em;
                color: $muted-text-color;
                font-family: $sans-serif;
                font-size: $type-size-6;

                a {
                    color: inherit;
                    text-decoration: none;

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }

            &__loc {
                position: absolute;
                left: 50%;
            }
        }
    }

    &__bullets {
        margin: 0.5em 0 0.5em;
        font-size: 0.9em;
    }
}

